/* @import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500&family=Josefin+Sans:ital,wght@0,300;1,400&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Ubuntu&display=swap');

.container{
    margin-top: 5%;
    height: 100%;
    display: block;
    justify-content: center;
    align-items: center;
}

.head{
    /* border: 1px solid black; */
    padding: 20px;
    background-color: #1d1f1d;
}

.head img{
    width: 200px;
}
.card{
    margin-top: 3px;
    border-radius: 10px 30px 30px 10px;
}
.card-header button{
    /* font-family: 'Caveat', cursive; */
    /* font-family: 'Josefin Sans', sans-serif; */
    font-family: 'Open Sans', sans-serif;
    font-family: 'Ubuntu', sans-serif;
    color: #1d1f1d;
    font-size: large;
    font-weight: 700;
    padding-bottom: 10px;
}


@media screen and (max-width: 480px) {
   
    .main-body{
        
        height: 100%;
    }
    .mobile,
    .mobile::placeholder{
        font-size: 12px;
        
    }

    .form-group label{
        font-size: 12px;
    }

    .form-group lockout{
        font-size: 12px;
    }

    
    hr{
        background-color: black;
        height: 5px;
    }
    
  }
